#nav {
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    overflow: hidden;
    border-left: 0px;
    border-right: 0px;
    background-color: #293133;
}

h3 {
    text-align: center;
    color: black;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

.demo-card-wide>.mdl-card__title {
    color: black;
    height: 6vmin;
    background: url(https://www.policlinico.mi.it/uploads/fom/files/virus.jpg) center / cover;
}